.cloud {
  position: absolute;
  margin-left: -2000px;
  left: 0%;
}

.cloud:nth-of-type(1) {
  top: 0%;
}

.animateCloud:nth-of-type(1) {
  animation: cloudmove 18s linear 5s infinite normal none;
}

.cloud:nth-of-type(2) {
  top: 25%;
}

.animateCloud:nth-of-type(2) {
  animation: cloudmove 30s linear -15s infinite normal none;
}

.cloud:nth-of-type(3) {
  top: 50%;
}

.animateCloud:nth-of-type(3) {
  animation: cloudmove 20s linear 0s infinite normal none;
}

.cloud:nth-of-type(4) {
  top: 75%;
}

.animateCloud:nth-of-type(4) {
  animation: cloudmove 20s linear 5s infinite normal none;
}

.cloud:nth-of-type(5) {
  top: 100%;
}

.animateCloud:nth-of-type(5) {
  animation: cloudmove 25s linear -10s infinite normal none;
}

.cloud .fluff {
  background-color: #fff;
  border-radius: 400px;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -200;
  margin-left: -200;
}

.cloud .fluff:nth-of-type(1) {
  transform: scale(0.8);
  margin-top: -320px;
  margin-left: -380px;
}

.animateCloud .fluff:nth-of-type(1) {
  animation: fluff 20s ease-in-out -4s infinite alternate none;
}

.cloud .fluff:nth-of-type(2) {
  margin-top: -340px;
  margin-left: -90px;
}

.animateCloud .fluff:nth-of-type(2) {
  animation: fluff 20s ease-in-out -8s infinite alternate none;
}

.cloud .fluff:nth-of-type(3) {
  transform: scale(0.7);
  margin-top: -300px;
  margin-left: 90px;
}

.animateCloud .fluff:nth-of-type(3) {
  animation: fluff 20s ease-in-out -10s infinite alternate none;
}

.cloud .fluff:nth-of-type(4) {
  transform: scale(0.5);
  margin-top: -190px;
  margin-left: -250px;
}


.animateCloud .fluff:nth-of-type(4) {
  animation: fluff 20s ease-in-out -15s infinite alternate none;
}

@keyframes fluff {
  80% {
    transform: translate(90px, -10px);
  }
  60% {
    transform: translate(10px, -5px);
  }
  40% {
    transform: translate(30px, -40px);
  }
  20% {
    transform: translate(-90px, 10px);
  }
  0% {
    transform: translate(90px, 120px);
  }
}

@keyframes cloudmove {
  0% {
    margin-left: -2000px;
    left: 0%;
  }
  100% {
    margin-left: 2000px;
    left: 100%;
  }
}